.blog-top-container {clear: both; width: 100%; padding: 80px 0; background: var(--white-90);}
.blog-wrap {clear: both; width: 100%; display: flex; flex-wrap: wrap; gap: 32px;}
.blog-top {gap:3.125%;}
.blog-top-lt {width: calc(100% - 34.375%); flex-grow: 1; min-height: 490px;}
.blog-big {display: flex; flex-wrap: wrap; width: 100%; height: 100%; z-index: 1;}
.blog-big-txt {position: relative; z-index: 1; padding: 0 32px 35px 32px; color: var(--white); margin-top: auto;}
.blog-big-txt .h1 {font-size: 2rem; line-height: 125%; color: var(--white); margin: 0 0 14px 0;}
.blog-big-txt .h1 a {color: var(--white);}
.blog-big-txt .h1 a:hover {color: var(--sapphire);}


.blog-big-thumb {width: 100%; height: 100%; z-index: -1;}
.blog-big-thumb picture:before {background: linear-gradient(0deg, #03344C 0%, rgba(3, 52, 76, 0.00) 100%); content: ""; display: block; width: 100%; height: 64%; position: absolute; left: 0; bottom: 0; border-radius: 0 0 16px 16px;}
.blog-big-thumb picture img {border-radius: 16px;}
.blog-top-rt {width: 31.25%; flex-grow: 1;}
.blog-top-rt .more-blog-grid {width: 100%;}
.blog-top-rt .btn-full {margin: 40px 0 0 0;}

.blog-bottom {clear: both; gap:3.125%;}
.blog-bottom-rt {gap:3.125%;}

.more-blog-grid {width:31.25%; position: relative; z-index: 1; overflow: hidden; background: var(--white); border-radius: 16px; outline: 6px solid transparent; transition: outline 0.3s ease;}
.more-blog-grid .more-blog-thumb {height: 225px; overflow: hidden;}
.more-blog-grid .more-blog-thumb a {display: flex; height: 100%;}
.more-blog-grid .more-blog-cnt {padding: 33px 32px 35px; display: flex; clear: both; width: 100%; flex-wrap: wrap; align-items: stretch;}
.more-blog-grid .more-blog-cnt .h5 {line-height: 150%; margin:0 15px 9px 0;}
.more-blog-grid .more-blog-cnt .h5 a {color: var(--midnight); display: inline-block; transition: underline 0.3s ease;}
.more-blog-grid .more-blog-cnt .h5 a:hover {text-decoration: underline; text-decoration-color: var(--sapphire);}




@media only screen and (max-width:1400px) and (min-width:1280px) {
    .blog-top {gap: 3.3333333333333335%;}
    .blog-top-rt {width:31.083333333333336%;}
    .blog-top-lt {width: calc(100% - 34.416666666666664%);}
    .blog-bottom-rt {gap: 3.3333333333333335%;}
    .blog-top-container {padding: 80px 0;}
    .more-blog-grid {width: 31.083333333333336%;}
}

@media only screen and (max-width:1279px) and (min-width:1024px) {
    .blog-top {gap: 4.23728813559322%;}
    .blog-top-rt {width:30.508474576271187%;}
    .blog-top-lt {width: calc(100% - 34.74576271186441%); min-height: 418px;}
    .blog-top-container {padding: 80px 0;}
    .more-blog-grid {width:30.508474576271187%;}
    .blog-bottom-rt {gap: 4.23728813559322%;}

}

@media only screen and (max-width: 1023px) and (min-width: 768px) {    
    .blog-top-lt {min-height: 472px;}
    .blog-bottom {gap: 4.651162790697675%;}
    .blog-bottom-lt {width: 47.674418604651166%;}
    .blog-bottom-rt {width: calc(100% - 52.32558139534884%); gap: 34px;}
    .blog-top-container {padding: 80px 0;}
    .more-blog-grid:nth-child(3) {display: none;}
    .more-blog-grid {width: 100%; align-items: flex-start; padding: 0;}
    .more-blog-grid .more-blog-cnt {width: 100%; padding:35px 32px 34px;}
    
    
}




@media only screen and (max-width: 767px) and (min-width: 200px) {
    .blog {padding: 64px 0;}
    .blog-main {display: block;}
    .blog-top-lt {min-height: 480px;}
    .blog-top-lt .cat-wrapper {display: block;}
    .blog-big-txt .h1 {font-size: 1.5rem; line-height: 125%; margin: 0 0 12px 0;}
    .blog-big-txt {padding: 0 24px 19px 24px;}
    
    .blog-bottom {gap: 32px;}
    .blog-bottom-rt {display: block;}
    .blog-bottom-lt {display: none;}
    
    .blog-top-container {padding: 64px 0;}    
    .blog-top-container .cat-wrapper .more-link {display: none;}
    
    .blog-top-container .slick-list {overflow: visible;}
    .more-blog-grid {width: 256px; padding:16px 16px 16px 16px; margin-right: 16px;}
    .more-blog-grid .more-blog-cnt .h5 {font-size: 1rem; line-height: 150%; margin: 0 15px 8px 0;}
    .more-blog-grid .more-blog-cnt {padding: 0;}
    .more-blog-grid .more-blog-thumb {margin-bottom: 16px; height: 28.72vw; border-radius:8px;}
    
    
    .more-blog .btn-full {margin: 40px 0 0 0;}
    
    
}


