:root {
    --black: #000000;
    --white: #ffffff;
    --white-15: rgb(255 255 255 / 15%);
    --white-25: rgb(255 255 255 / 25%);
    --white-50: rgb(255 255 255 / 50%);
    --white-75: rgb(255 255 255 / 75%);
    --white-80: rgb(255 255 255 / 80%);
    --heading: #1D5A84;
    --bodytext: #4D5052;
    --anchor: #1D5A84;
    --anchor-hover: #04344C;
    --sapphire: #53C4C9;
    --cerulean: #3F8DA5;
    --midnight: #04344C;
    --stone: #2A6472;
    --seafom: #9ED5DD;
    --sunshine: #EDD056;

    --sunshine-50: rgb(237 208 86 / 50%);
    --sunshine-25: rgb(237 208 86 / 25%);

    --aegean-90: rgb(29 90 132 / 90%);
    --aegean-85: rgb(29 90 132 / 85%);
    --aegean-75: rgb(29 90 132 / 75%);
    --aegean-50: rgb(29 90 132 / 50%);
    --aegean-25: rgb(29 90 132 / 25%);

    --midnight-75: rgb(4 52 76 / 75%);
    --midnight-50: rgb(4 52 76 / 50%);


    --sapphire-25: rgb(0 200 200 / 25%); 
    --sapphire-50: rgb(83 196 201 / 50%);
    --sapphire-10:  rgb(83 196 201 / 10%);

    --stone-85  :rgb(42 100 114 / 85%);

    --cerulean-85: rgb(63 141 165 / 85%);

    --seafom-25 : rgb(158 213 221 / 25%);
  }