.expertise-section{position: relative; width: 100%; clear: both; background: var(--white-90);}
.expertise-lt{padding: 80px 80px 80px 0; /*background-color: var(--white-90); */flex: 0 0 428px; position: relative;}
.expertise-rt{padding: 80px 0 80px 80px; background-color: var(--white); flex: 1; position: relative;}
/*.expertise-lt:before{position: absolute; display: block; content: ""; left: -100vw; width: 100vw; background-color: var(--white-90); top: 0; right: 0; height: 100%;}*/
.expertise-rt:before{position: absolute; display: block; content: ""; right: -100vw; width: 1000%; background-color: var(--white); top: 0; left: 0; height: 100%; z-index: -1;}
.expertise-rt:only-child:before{left: -100vw;}
.expertise-lt h3{color: var(--midnight);}
.expertise-lt h4 {font-weight: 300; line-height: 175%; color: var(--midnight); margin-bottom: 24px;}
.expertise-lt h4 strong {color: var(--stone);}

ul.expertise-links{margin-left: 0;}
ul.expertise-links li{width: 100%; margin-bottom: 28px;}
ul.expertise-links li::before{display: none;}
ul.expertise-links li a{transition: 0.2s all ease; background-color: var(--white); padding: 11px 12px 7px 12px; border-radius: 12px;  text-decoration: none; outline: 4px solid transparent;}
ul.expertise-links li .readmore span { top: inherit; position: absolute; display: inline-block; right: 12px; margin-left: 10px; }
ul.expertise-links li a:hover{outline-color: var(--sunshine-50); }
ul.expertise-links li a.active, ul.expertise-links li a.active:hover{outline: 4px solid var(--sapphire-50);}
.expertise-row:first-child{display: block;}
.expertise-row{display: none;}
.expertise-text{padding-bottom: 64px;}


.readmore span.vtl{top: 1px;}
.readmore span.vtl i{font-size: 1.25rem;}
 .readmore span.vtl:before{transform: translatey(5px); color: var(--sapphire)}
.readmore span.vtl:after, .readmore span.vtl:before{width: 20px; height: 20px;font-size: 1.25rem; content: "\f078"}
.readmore:hover span.vtl:after{transform: translatey(-11px); }
.readmore:hover span.vtl i{color: var(--cerulean);}


.expertise-links .slick-prev.slick-arrow{left: 0; right: auto;}
.expertise-links .slick-next.slick-arrow{right: 0; left: auto;}
.expertise-links .slick-arrow{top: 8px; background-color: var(--midnight);}
.expertise-links .slick-disabled.slick-arrow span i{color: var(--white);}

@media only screen and (max-width: 1400px) and (min-width: 1280px){

    .expertise-lt{padding: 80px 64px 80px 24px; flex: 0 0 472px;}
    .expertise-rt{padding: 80px 24px 80px 64px;}


}

@media only screen and (max-width: 1279px) and (min-width: 1024px){
    .expertise-lt{flex: 0 0 400px; padding: 64px 40px 64px 0;}

    .expertise-rt{ padding: 64px 0 64px 40px;}

}


@media only screen and (max-width: 1023px) and (min-width: 200px){

    .expertise-main{display: block;}
    .expertise-lt{padding: 64px 0 40px;}
    .expertise-rt{padding: 40px 0 64px;}
    ul.expertise-links{gap: 20px;}
    ul.expertise-links li {flex: 0 0 calc(33.33% - 14px); margin-bottom: 0;}
    ul.expertise-links .readmore{font-size: 15px;}
    
/*    .expertise-lt::after{ width: 100vw; background-color: var(--white-90); position: absolute; display: block; content: ""; height: 100%; right: -100vw; top: 0; }*/
    .expertise-rt::after{ position: absolute; display: block; content: ""; left: -100vw; width: 100vw; background-color: var(--white); top: 0; right: 0; height: 100%; z-index: -1; }
}

@media only screen and (max-width: 767px) and (min-width: 200px){
    ul.expertise-links{display: block; padding: 22px 50px 0; text-align: center;}
    ul.expertise-links li a {background: transparent; border-radius: 0; padding: 0; border-radius: 0;}
    ul.expertise-links li .readmore span{display: none;}
    ul.expertise-links li a.active{outline: none;}
    ul.expertise-links li a{justify-content: center;}

    .expertise-lt span.optional-text{margin-bottom: 26px;}
    .expertise-text { padding-bottom: 40px; }

}