.featured-section .aegean h2{color: var(--aegean); }
.featured-section .aegean .number{color: var(--aegean); }
.featured-section .aegean .featured-icon:before{background-color: var(--aegean);}

.featured-section .stone  h2{color: var(--stone); }
.featured-section .stone  .number{color: var(--stone); }
.featured-section .stone .featured-icon:before{background-color: var(--stone);}

.featured-section .cerulean h2{color: var(--cerulean);}
.featured-section .cerulean .number{color: var(--cerulean);}
.featured-section .cerulean .featured-icon:before{background-color: var(--cerulean);}


.featured-section .sapphire h2{color: var(--sapphire); }
.featured-section .sapphire .number{color: var(--sapphire); }
.featured-section .sapphire .featured-icon:before{background-color: var(--sapphire);}


.featured-section{background-color: var(--white); clear: both; width: 100%;}
.featured-main{padding: 80px 0;}
.featured-row{gap: 38px;}
.featured-list{flex: 0 0 calc(25% - 29px);}
.featured-list h2{ margin-bottom: 0;}
.featured-list p{line-height: 1.5;}

.featured-list h4{font-size: 1.25rem; color: var(--midnight); line-height: 1.25; margin-bottom: 12px;}
.featured-icon{margin-bottom: 16px; position: relative; width: 65px; height: 65px;}
.featured-icon figure{display: flex; align-items: center; justify-content: center;}
.featured-icon img{width: 32px; height: 32px; position: relative;}
.featured-icon::before{position: absolute; display: block; width: 65px;height: 65px; border-radius: 50px;  content: "";}









@media only screen and (max-width:767px) and (min-width: 200px) {
    .featured-main{padding: 64px 0 64px;}



}