.aegean h2{color: var(--aegean); }
.aegean .number{color: var(--aegean); }
.aegean .featured-icon:before{background-color: var(--aegean);}

.stone  h2{color: var(--stone); }
.stone  .number{color: var(--stone); }
.stone .featured-icon:before{background-color: var(--stone);}

.cerulean h2{color: var(--cerulean);}
.cerulean .number{color: var(--cerulean);}
.cerulean .featured-icon:before{background-color: var(--cerulean);}


.sapphire h2{color: var(--sapphire); }
.sapphire .number{color: var(--sapphire); }
.sapphire .featured-icon:before{background-color: var(--sapphire);}


.featured-section{background-color: var(--white); clear: both; width: 100%;}
.featured-main{padding: 80px 0;}
.featured-row{gap: 38px;}
.featured-list{flex: 0 0 calc(25% - 29px);}
.featured-list h2{ margin-bottom: 0;}
.featured-list p{line-height: 1.5;}

.featured-list h4{font-size: 1.25rem; color: var(--midnight); line-height: 1.25; margin-bottom: 12px;}
.featured-icon{margin-bottom: 16px; position: relative; width: 65px; height: 65px;}
.featured-icon figure{display: flex; align-items: center; justify-content: center;}
.featured-icon img{width: 32px; height: 32px; position: relative;}
.featured-icon::before{position: absolute; display: block; width: 65px;height: 65px; border-radius: 50px;  content: "";}