.intro-section{clear: both; width: 100%; position: relative;}
.intro-main{padding: 80px 0; position: relative;}
.intro-main h2{font-size: 2rem; font-weight: 300; color: var(--midnight); line-height: 1.75;}
.intro-main h2 strong{color: var(--cerulean);}
.intro-text{padding: 0 148px 0 0; position: relative;}
.intro-section.row-reverse .intro-text{padding:  0 0 0 148px;}
.intro-section.row-reverse .color-line:before{left: 0; right: inherit;}

.intro-section.white-text h2{color: var(--white);}
.intro-section.white-text h2 strong{color: var(--white);}
@media only screen and (max-width: 1279px) and (min-width: 1024px) {
    
    .intro-text { padding: 0 155px 0 0;}
    
    
    
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
    
    .intro-text { padding: 0 130px 0 0;}
    
    
    
}
@media only screen and (max-width:767px) and (min-width: 200px) {
    .intro-main{padding: 64px 0 194px;}
    .intro-text{padding: 0;}
    .intro-main h2{font-size: 1.5rem; margin-bottom: 30px;}



}