@import url("_single-testimonial.css");
@import url("_cta-module.css");

.general-article-section {float: left; width: 100%; background: var(--white-90); position: relative; z-index: 1;}
.general-article-section .article-inner {position: relative; width:66.25%; flex-grow: 1; background: var(--white); border-radius: 0px 0px 24px 0px; padding:80px 6.25% 78px 0;}
.general-article-section .article-inner:before {content: ""; height: calc(100% + 80px); width:1000%; position: absolute; background: var(--white); right:0; z-index: -1; top: -80px; display: block; border-radius: 0px 0px 24px 0px;}

.general-article-section .article-inner > p:first-of-type span{font-size: 1.5rem; line-height:158%; color: var(--aegean); display: block; font-weight: 300; margin: 0 0 64px 0; display: block;}
.general-article-section .article-inner h1 {font-size: 3rem; margin-bottom: 31px;}
.general-article-section .article-inner h2 {padding-top: 45px;}
.general-article-section .article-inner h4 {padding-top: 45px;}
.general-article-main {justify-content: space-between;}

.general-article-section .article-inner .video-wrap {margin: 62px 0 19px 0;}
.general-article-section .article-inner .single-testimonial {margin:62px 0 19px;}
.general-article-section .article-inner .cta-short:last-of-type {padding-bottom: 0;}


/* Sidebar */
.sidebar {width: calc(100% - 72.5%); margin:0 0 0 6.25%; padding:80px 0 80px 0;}
.sidebar .cta-bucket .optional-text {color: var(--aegean); margin: 0 0 20px 0;}
.sidebar .cta-bucket p {font-size: 1.5rem; line-height: 175%; color: var(--stone); font-weight: 300; margin-bottom: 15px;} 
.sidebar .cta-bucket p strong {color: var(--cerulean);}









/*-- media css starts here --*/

@media only screen and (max-width: 1199px) and (min-width: 1024px) {
    .general-article-section .article-inner {padding: 80px 40px 80px 0;}
    .sidebar {margin: 0 0 0 40px;}
}

@media only screen and (min-width: 1024px){


}
@media only screen and (max-width: 1023px) and (min-width: 768px) {
    
}

@media only screen and (max-width: 1023px) and (min-width: 200px) {
    .general-article-section .article-inner {width: 100%; padding-right: 0;}
    .general-article-section .article-inner::before {height: calc(100% + 80px); width: calc(100% + 80px); border-radius: 0; left: -40px;}
}


@media only screen and (max-width: 767px) and (min-width: 200px) {
    


}