@import url("_single-testimonial.css");
@import url("_more-insights.css");
@import url("_cta-module.css");

.general-article-section {float: left; width: 100%; background: var(--white-90); position: relative; z-index: 1;}
.general-article-section .article-inner {position: relative; width:calc(100% - 432px); flex-grow: 1; background: var(--white); border-radius: 0px 0px 24px 0px; padding:80px 6.25% 78px 0;}
.general-article-section .article-inner:before {content: ""; height: calc(100% + 80px); width:1000%; position: absolute; background: var(--white); right:0; z-index: -1; top: -80px; display: block; border-radius: 0px 0px 24px 0px;}
.general-article-section .article-inner:only-child:before {right: -40px;}
.general-article-section .article-inner:only-child {padding-right: 0;}

.general-article-section .article-inner > p:first-of-type span{font-size: 1.5rem; line-height:158%; color: var(--aegean); display: block; font-weight: 300; margin: 0 0 64px 0;}

.general-article-section .article-inner .cat-wrap {clear: both; margin: 0 0 15px 0; justify-content: space-between;}
.general-article-section .article-inner .cat-wrap ul li {margin: 0 21px 18px 0; display: inline-block; line-height: normal; padding: 0 0 0 20px;}
.general-article-section .article-inner .cat-wrap ul li:before {width: 15px; height: 15px; background-size: 15px 15px!important;}
.general-article-section .article-inner .cat-wrap ul li a {font-size: 1.125rem; line-height: 100%;}

.general-article-section .article-inner h1 {font-size: 3rem; margin-bottom: 32px;}
.general-article-section .article-inner h2 {padding-top: 45px;}
.general-article-section .article-inner h4 {padding-top: 45px;}
.general-article-main {justify-content: space-between;}

.general-article-section .article-inner .video-wrap {margin: 62px 0 19px 0;}
.general-article-section .article-inner .single-testimonial {margin:62px 0 19px;}
.general-article-section .article-inner .cta-short:last-of-type {padding-bottom: 0;}


/* Sidebar */
.sidebar {width: 352px; margin:0 0 0 6.25%; padding:80px 0 80px 0;}
.sidebar .cta-bucket {clear: both; width: 100%;}
.sidebar .cta-bucket .optional-text {color: var(--aegean); margin: 0 0 20px 0;}
.sidebar .cta-bucket p {font-size: 1.5rem; line-height: 175%; color: var(--stone); font-weight: 300; margin-bottom: 15px;} 
.sidebar .cta-bucket p strong {color: var(--cerulean);}
.sidebar .cta-bucket .readmore {gap:0; display: inline-block;}
.sidebar .cta-bucket .readmore span {margin-left:16px; transition: all 0.3s ease-in-out;}
.sidebar .cta-bucket .readmore span::before {opacity: 1; transform: translateX(-5px); color: var(--cerulean);}
.sidebar .cta-bucket .readmore span::after {color: var(--aegean); opacity: 1; transform: translateX(-11px);}
.sidebar .cta-bucket .readmore:hover span::before {transform: translateX(0); opacity: 0;}
.sidebar .cta-bucket .readmore:hover span::after {transform: translateX(0); opacity: 0;}

.sidebar .team-member-buckets {clear: both; width: 100%;}
.sidebar .team-member-buckets .btn-full {margin: 48px 0 0 0;}
.sidebar .tm-grid {clear: both; width: 100%; margin: 47px 0 0 0;}
.sidebar .tm-grid .tm-thumb {clear: both; width: 128px; margin: 0 0 25px 0; position: relative;}
.sidebar .tm-grid .tm-content .h5 {line-height: 125%; margin: 0 0 6px 0;}
.sidebar .tm-grid .tm-content .h5 a {color: var(--midnight);}
.sidebar .tm-grid .tm-content .h5 a:hover {color: var(--aegean);}
.sidebar .tm-grid .tm-content .tm-pos {font-size: 1.25rem; line-height: 20px; color: var(--aegean);}
.sidebar .tm-grid .tm-contact figure {display: none;}
.sidebar .tm-grid .tm-contact span {display: block; margin: 0 0 4px 0;}
.sidebar .tm-grid .tm-contact {margin: 14px 0 0 0; clear: both; width: 100%;}
.sidebar .tm-grid .tm-contact .tm-location {color: var(--cerulean); font-weight: 700; line-height: 123%; font-size: 1.125rem;}
.sidebar .tm-grid .tm-contact .tm-mail {line-height: 125%;}
.sidebar .tm-grid .tm-contact .tm-ph {line-height: 125%;}




/*-- media css starts here --*/

@media only screen and (max-width: 1199px) and (min-width: 1024px) {
    .general-article-section .article-inner {padding: 80px 40px 80px 0;}
    .sidebar {margin: 0 0 0 40px;}
}

@media only screen and (min-width: 1024px){


}
@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .sidebar .tm-grid {display: flex; flex-wrap: wrap; align-items: center;}
    .sidebar .tm-grid .tm-thumb {margin: 0 25px 0 0; width: 104px;}
    .sidebar .tm-grid .tm-content {display: flex; flex-wrap: wrap; width: calc(100% - 129px); align-items: center;}
    .sidebar .tm-grid .tm-contact {clear: none; flex: 1; margin: 0 0 0 16px; padding: 0 0 0 16px; border-left: 1px solid var(--seafom-50);}
    .sidebar .tm-grid .tm-cnt-top {flex: 1;}
}

@media only screen and (max-width: 1023px) and (min-width: 200px) {
    .general-article-section {background: var(--white-80);}
    .general-article-section .article-inner {width: 100%; padding-right: 0;}
    .general-article-section .article-inner::before {height: calc(100% + 80px); width: calc(100% + 80px); border-radius: 0; left: -40px;}
    
    .sidebar {width: 100%; margin: 0;}
    .sidebar .tm-grid .tm-content .tm-pos {font-size: 1.125rem;}

}


@media only screen and (max-width: 767px) and (min-width: 200px) {
    .general-article-section .article-inner {padding: 64px 0 62px;}
    .general-article-section .article-inner h1 {font-size: 2rem; line-height: 125%;}
    .general-article-section .article-inner > p:first-of-type span {font-size: 1.25rem; line-height: 160%; margin: 0 0 40px 0;}
    .general-article-section .article-inner h4 {padding-top: 20px;}
    .general-article-section .article-inner ul li, .general-article-section .article-inner ol li {line-height: 150%; margin-bottom: 7px;}
    .general-article-section .article-inner .video-wrap {margin: 39px 0 19px 0;}
    .general-article-section .article-inner .single-testimonial {margin: 40px 0 20px;}
    
    
    .sidebar {padding: 64px 0 64px 0;}
    .sidebar .team-member-buckets {padding: 7px 0 0 0;}
    .sidebar .tm-grid {display: flex; flex-wrap: wrap; align-items: center; margin:36px 0 0 0;}
    .sidebar .tm-grid .tm-thumb {width: 120px; margin: 0 24px 0 0;}
    .sidebar .tm-grid .tm-content {display: flex; flex-wrap: wrap; width: calc(100% - 144px); align-items: center;}
    .sidebar .tm-grid .tm-content .h5 {margin: 0 0 4px 0;}

    .sidebar .tm-grid .tm-contact .tm-location {display: none;}
    .sidebar .tm-grid .tm-contact {font-size: 0; margin: 0; line-height: normal;}
    .sidebar .tm-grid .tm-contact span {display: inline-block; margin:4px 8px 0 0}
    .sidebar .tm-grid .tm-contact figure {display: block; width: 48px; height: 48px; border-radius: 50%; border: 2px solid var(--cerulean); padding: 10px; margin: 0 auto; text-align: center;}
    .sidebar .tm-grid .tm-contact a:hover figure {border: 2px solid var(--midnight); }
    
    
}