@import url("_single-testimonial.css");
@import url("_cta-module.css");

.general-article-section {float: left; width: 100%; background: var(--white-90); position: relative; z-index: 1;}
.general-article-section .article-inner {position: relative; width:66.25%; flex-grow: 1; background: var(--white); border-radius: 0px 0px 24px 0px; padding:80px 80px 80px 0;}
.general-article-section .article-inner:before {content: ""; height: calc(100% + 80px); width:1000%; position: absolute; background: var(--white); right:0; z-index: -1; top: -80px; display: block; border-radius: 0px 0px 24px 0px;}

.general-article-section .article-inner > p:first-of-type span{font-size: 1.5rem; line-height:158%; color: var(--aegean); display: block; font-weight: 300; margin: 0 0 64px 0; display: block;}
.general-article-section .article-inner h1 {font-size: 3rem; margin-bottom: 31px;}
.general-article-section .article-inner h2 {padding-top: 45px;}
.general-article-section .article-inner h4 {padding-top: 45px;}
.general-article-main {justify-content: space-between;}


/* Sidebar */
.sidebar {width: calc(100% - 72.5%); margin:0 0 0 6.25%; padding:80px 0 80px 0;}
.sidebar .side-bucket {clear: both;}
.sidebar .side-bucket h3  {display: block!important; border-bottom:  solid 4px var(--green); color: var(--heading); padding:0 0 8px 0!important; margin-bottom: 24px!important; font-family: DM Serif Display ,sans-serif; line-height: 1.25!important; font-size: 2rem!important; }
.sidebar .side-bucket ul {margin: 0; padding: 0;}
.sidebar .side-bucket ul li {display: block; margin-bottom: 8px!important; background-color: var(--dirty-white); color: var(--heading);}
.sidebar .side-bucket ul li:last-child {margin-bottom: 0!important;}
.sidebar .side-bucket ul li:before {display: none;}
.sidebar .side-bucket ul li a {text-decoration: none; font-size: 1rem; font-weight: normal; display:block; color: var(--heading); padding: 9px 35px 9px 16px;
  line-height: 1.4;}
.sidebar .side-bucket ul li.active, .sidebar .side-bucket ul li:hover {background: var(--green-700);}
.sidebar .side-bucket ul li.active a, .sidebar .side-bucket ul li:hover a{color: var(--white); padding:9px 16px 9px 40px;} 
.side-bucket .menu-bucket h5{color: var(--coal); margin-bottom: 30px; font-weight: 700;}

.side-bucket .menu-bucket ul li::after{position: absolute; content: "\f105"; display: block; font-family: "Font Awesome 6 Pro"; color: var(--lime-500); top:10px; font-size: 13.5px; font-weight: 900; right:20px;}
.side-bucket .menu-bucket ul li.active:after, .sidebar .side-bucket .menu-bucket ul li:hover:after{left: 19px; right: auto;}











/*-- media css starts here --*/

@media only screen and (min-width: 1200px){
}

@media only screen and (min-width: 1024px){


}
@media only screen and (max-width: 1023px) and (min-width: 768px) {
    
}

@media only screen and (max-width: 1023px) and (min-width: 200px) {
  
}


@media only screen and (max-width: 767px) and (min-width: 200px) {
    


}