@import url("_cta-module.css");

.general-default-article-section {float: left; width: 100%; background: var(--white-90); position: relative; z-index: 1;}
.general-default-article-section .default-inner {position: relative; width:66.25%; flex-grow: 1; background: var(--white); border-radius: 0px 0px 24px 0px; padding:80px 80px 80px 0;}
.general-default-article-section .default-inner:before {content: ""; height: calc(100% + 80px); width:1000%; position: absolute; background: var(--white); right:0; z-index: -1; top: -80px; display: block; border-radius: 0px 0px 24px 0px;}

.general-default-article-section .default-inner > p:first-of-type span{font-size: 1.5rem; line-height:158%; color: var(--aegean); display: block; font-weight: 300; margin: 0 0 64px 0; display: block;}
.general-default-article-section .default-inner h1 {font-size: 3rem; margin-bottom: 31px;}
.general-default-article-section .default-inner h2 {padding-top: 45px;}
.general-default-article-section .default-inner h4 {padding-top: 45px;}
.default-main {justify-content: space-between;}


/* Sidebar */
.sidebar {width: calc(100% - 72.5%); margin:0 0 0 6.25%; padding:80px 0 80px 0;}
.sidebar .side-bucket {clear: both;}
.sidebar .side-bucket h3  {display: block!important; border-bottom:  solid 4px var(--green); color: var(--heading); padding:0 0 8px 0!important; margin-bottom: 24px!important; font-family: DM Serif Display ,sans-serif; line-height: 1.25!important; font-size: 2rem!important; }
.sidebar .side-bucket ul {margin: 0; padding: 0;}
.sidebar .side-bucket ul li {display: block; margin-bottom: 8px!important; background-color: var(--dirty-white); color: var(--heading);}
.sidebar .side-bucket ul li:last-child {margin-bottom: 0!important;}
.sidebar .side-bucket ul li:before {display: none;}
.sidebar .side-bucket ul li a {text-decoration: none; font-size: 1rem; font-weight: normal; display:block; color: var(--heading); padding: 9px 35px 9px 16px;
  line-height: 1.4;}
.sidebar .side-bucket ul li.active, .sidebar .side-bucket ul li:hover {background: var(--green-700);}
.sidebar .side-bucket ul li.active a, .sidebar .side-bucket ul li:hover a{color: var(--white); padding:9px 16px 9px 40px;} 
.side-bucket .menu-bucket h5{color: var(--coal); margin-bottom: 30px; font-weight: 700;}

.side-bucket .menu-bucket ul li::after{position: absolute; content: "\f105"; display: block; font-family: "Font Awesome 6 Pro"; color: var(--lime-500); top:10px; font-size: 13.5px; font-weight: 900; right:20px;}
.side-bucket .menu-bucket ul li.active:after, .sidebar .side-bucket .menu-bucket ul li:hover:after{left: 19px; right: auto;}


.single-testimonial {padding:0 0 0 79px; position: relative; margin:46px 0 23px; clear: both; width: 100%; overflow: hidden;}
.single-testimonial:before {content: "" ; width: 39px; height: 100vh;  background:repeating-linear-gradient(90deg, var(--seafom), var(--seafom) 5px, #FFFFFF 5px, #FFFFFF 11px, var(--seafom) 11px,  var(--seafom) 15px,  #FFFFFF 15px, #FFFFFF 21px,  var(--seafom) 21px, var(--seafom) 24px, #FFFFFF 24px, #FFFFFF 30px, var(--seafom) 30px,  var(--seafom) 32px, #FFFFFF 32px,  #FFFFFF 38px,  var(--seafom) 38px, var(--seafom) 39px,  #FFFFFF 39px, #FFFFFF 45px); background-size: 39px 100%; background-repeat: no-repeat;  display: block; position: absolute; top: 0; left: 0;}
.single-testimonial p {font-size: 1.5rem; line-height: 175%; color: var(--midnight); margin-bottom: 20px; font-weight: 300; position: relative;}
.single-testimonial p strong {font-weight: 700; color: var(--cerulean);}
.single-testimonial .author {align-items: center; gap:16px;}
.single-testimonial .author-thumb {width: 72px; height: 72px;}
.single-testimonial .author-thumb img {border-radius: 50%;}
.single-testimonial .author-txt {width: calc(100% - 88px); font-size: 0;}
.single-testimonial .author-txt span {display: block;}
.single-testimonial .author-txt .author-name {font-size: 1.125rem; font-weight: 700; letter-spacing: -0.36px; color: var(--stone);}
.single-testimonial .author-txt .author-pos {font-size: 0.875rem; font-weight: 500; line-height: 150%; opacity: 0.5;}


.cta-button {position: relative; clear: both; width: 100%; padding: 42px 0 16px; background: var(--white);}
.cta-button .h1 {margin-bottom: 23px;}
.cta-button .h2 {font-size: 2.5rem;}
.cta-button p {font-size:2rem; font-weight: 700; letter-spacing: -0.64px; color: var(--midnight); line-height: 142%; display: flex;
  flex-wrap: wrap; gap: 0 17px;}
.cta-button p:last-child {margin: 0;}

.cta-short {position: relative; clear: both; width: 100%; padding: 80px 0; background: var(--white);}
.cta-short .h1 {margin-bottom: 23px;}
.cta-short .h2 {font-size: 2.5rem;}
.cta-short p {font-size: 1.75rem; font-weight: 700; letter-spacing: -0.56px; color: var(--midnight); line-height: 142%; display: flex;
  flex-wrap: wrap; gap: 0 17px;}
.cta-short p:last-child {margin: 0;}

/* Default Thumb */
.default-thumb {margin:19px 0 19px 0; position: relative; clear: both; width: 100%;}
.default-thumb figure {overflow: hidden; height: 432px;}
.default-thumb figure img {border-radius: 16px;}
.default-thumb figure figcaption {position: absolute; font-size:1rem; font-weight: 500; line-height: 1.3;  width:100%; padding:9px 12px 11px 38px; color: var(--white); background: rgba(40, 40, 44, 0.6); -webkit-backdrop-filter: blur(4px); backdrop-filter: blur(4px); border-radius: 4px; max-width: 379px; bottom: 32px; z-index: 1; left: 32px;}
.default-thumb figure figcaption:after {content: "\f03e"; display: block; position: absolute; width: 18px; height: 12px; left: 12px; font-family: "Font Awesome 6 Pro"; top: 14px; font-weight: normal; font-size: 1rem; color: var(--green); line-height: 12px;}

.video-thumbnail iframe, .video-thumbnail.video_post {max-height: 540px; min-height: inherit !important;}


/*-- media css starts here --*/

@media only screen and (min-width: 1200px){
}

@media only screen and (min-width: 1024px){


}
@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .general-default-article-section h1 {margin-bottom: 34px}
    .general-default-article-section ol, .general-default-article-section ul {margin-bottom: 40px;}
}

@media only screen and (max-width: 1023px) and (min-width: 200px) {
    .default-inner {width: 100%;}
    .sidebar {width: 100%; max-width: 100%; margin: 40px 0 0 0;}
}


@media only screen and (max-width: 767px) and (min-width: 200px) {
    .split-banner-main .split-banner-text h1 {margin-bottom: 24px;}
    .general-default-article-section {padding:40px 0 20px 0;}
    .general-default-article-section .default-inner h1 {line-height: 1.2; margin-bottom: 19px;}
    .general-default-article-section .default-inner::before, .general-default-article-section .default-inner::after {display: none;}
    .general-default-article-section .default-inner .optional-intro .button {margin-bottom: 64px;}
    .general-default-article-section .default-inner ul {margin: -4px 0 28px 24px;}
    .general-default-article-section .default-inner > p:last-child {margin-bottom: 18px;}
    .sidebar {margin:34px 0 0 0;}
     .page-template-default .features-main .features-grid .readmore {display: inline-block; padding: 0;}


}