@import url("_default-banner.css");
@import url("_logo-module.css");
@import url("_intro-section.css");
@import url("_our-clients-section.css");
@import url("_blog-module.css");
@import url("_cta-module.css");

.default-banner-section {background: var(--aeganbg);}
.default-banner-main {min-height: 528px; align-items: center;}
.intro-section {background-color: var(--white);}

.our-people {clear: both; width: 100%; padding: 80px 0; background: var(--white); position: relative; z-index: 1;}
.our-people h2 {font-size: 4.5rem; line-height: 100%; margin-bottom: 77px; color: var(--sapphire);}
.our-people p strong {color: var(--cerulean);}
.our-people p {font-size: 2rem; font-weight: 300; line-height: 175%; color: var(--midnight); margin-bottom: 31px;}
.our-people .button {padding: 15px 14px 11px 14px;}
.our-people-main {gap: 6.25%;}
.our-people-lt {width: calc(100% - 53.125%); flex-grow: 1;}
.our-people-rt {width: 46.875%; margin-top: 2px;}
.our-people-group {display: flex; flex-wrap: wrap; width: 100%; align-items: center; gap: 8px 0; justify-content: center;}
.our-people-group .our-people-thumb img {object-fit: contain;}

/* Our Expertise */
.our-expertise {clear: both; ; width: 100%; padding:80px 0 0 0; background: var(--midnight-50);}
.our-expertise h2 {font-size: 4.5rem; color: var(--sapphire); line-height: 100%; text-align: right;}
.our-expertise-main {gap:2.5%; padding:140px 0 178px; align-items: center; justify-content: center;}

.our-expertise-grid {position: relative; display: flex; flex-direction: column; width: 23.125%; margin: 0; box-sizing: border-box; text-align: center; transition: transform 0.4s ease-in-out; z-index: 1; min-height: 310px; justify-content: center;}
.our-expertise-grid:nth-child(4n+1) {margin-left: 0;}

.our-expertise-grid .stone-wrap {display: flex; flex-wrap: wrap; align-items: center; justify-content: center; text-align: center; position: relative; z-index: 2;}
.our-expertise-grid .stone-wrap .h3 {position: absolute; top: 0; bottom: 0; margin: auto; width: 100%; height: 100%; display: flex; align-items: center; flex-wrap: wrap; color: var(--white); justify-content: center; max-width: 180px; left: 0; right: 0;}
.our-expertise-grid .stone-wrap svg, .our-expertise-grid .stone-wrap img {width: 272px; height: 272px; transition: all 0.4s ease-in-out;}
.our-expertise-grid .stone-wrap img {object-fit: contain;}

.our-expertise-grid:hover .stone-wrap svg, .our-expertise-grid:hover .stone-wrap img {transform: rotate(15deg); transition: all 0.4s ease-in-out; width: 288px; height: 288px;}
.our-expertise-grid:hover {transform: translateY(-71px);}
.our-expertise-grid .stone-wrap a {line-height: 0;}

.our-expertise-grid .our-expertise-header {display: flex; align-items: center; transition: .5s ease-in-out; flex-wrap: wrap; position: absolute; top: 0; bottom: 0; margin: auto;}
.our-expertise-grid .our-expertise-header .h3 {margin: 0; color: var(--white);}
.our-expertise-grid .our-expertise-desc {position: relative; z-index: 1; display: block; color: var(--white); line-height: 150%; transition: .4s ease-in-out;}
.our-expertise-grid a {color: var(--white); position: relative; text-decoration: none;}
.our-expertise-grid:hover .our-expertise-desc:after {position: absolute; left: 50%; transform: translateX(-50%); bottom: -49px; width: 296px; height: 460px; display: block; content: ""; border-radius: 460px; background: rgba(4, 52, 76, 0.75); filter: blur(52px); z-index: -1;}
.our-expertise-grid .our-expertise-desc p {margin-bottom: 15px; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 4; overflow: hidden; text-overflow: ellipsis;  word-wrap: break-word;}
.our-expertise-grid .our-expertise-desc .readmore {justify-content: center; display: inline-flex; gap: 0;}
.our-expertise-grid .our-expertise-desc .readmore:hover {color: var(--white);}
.our-expertise-grid .our-expertise-desc .readmore span {margin-left:16px; transition: all 0.3s ease-in-out;}
.our-expertise-grid .our-expertise-desc .readmore span::before {opacity: 1; transform: translateX(-5px); color: var(--cerulean);}
.our-expertise-grid .our-expertise-desc .readmore span::after {color: var(--aegean); opacity: 1; transform: translateX(-11px);}
.our-expertise-grid .our-expertise-desc .readmore:hover span {margin-left: 5px;}
.our-expertise-grid .our-expertise-desc .readmore:hover span::before {transform: translateX(0); opacity: 0;}
.our-expertise-grid .our-expertise-desc .readmore:hover span::after {transform: translateX(0); opacity: 0;}

.our-expertise-overlay {position: absolute; bottom: 0; left: 0; right: 0; transform: translateY(180%); transition: all 0.4s ease-in-out; height: 0;
  opacity: 0; visibility: hidden; padding: 0 20px;}
.our-expertise-grid:hover .our-expertise-overlay {transform: translateY(100%); height: auto; opacity: 1; visibility: visible; padding:5px 20px 16px 20px;}




@media only screen and (min-width:1024px) {
}
@media only screen and (min-width:1280px) {
    .our-people-group .our-people-thumb {width: 256px; z-index: 1; margin: 0 -36px;}
    .our-people-group .our-people-thumb:nth-child(8n+2), .our-people-group .our-people-thumb:nth-child(8n+8), .our-people-group .our-people-thumb:nth-child(8n+4) {width: 232.434px;}
    .our-people-group .our-people-thumb:nth-child(3n+1) {z-index: 2;}
    .our-people-group .our-people-thumb:nth-child(3n+3) {z-index: 0;}
}
@media only screen and (max-width:1400px) and (min-width:1280px) {
    .our-people {padding: 80px 0 84px;}
    .our-people-main {gap: 5.333333333333334%;}
    .our-people h2 {margin-bottom: 49px;}
    .our-people-group .our-people-thumb {margin: 0 -44px;}
    .our-people-lt {width: calc(100% - 52.666666666666664%);}
    .our-people-rt {width: 47.333333333333336%; margin-top: 4px;}
}
@media only screen and (max-width:1279px) and (min-width:1024px) {
    .our-people {padding: 80px 0 55px;}
    .our-people-main {gap: 6.779661016949152%;}
    .our-people h2 {margin-bottom: 21px;}
    .our-people-group {gap: 0; position: relative; top: -44px;}
    .our-people-group .our-people-thumb {width: 256px; z-index: 1; margin: 0 -24px -63px -24px;}
    .our-people-group .our-people-thumb:nth-child(8n+2), .our-people-group .our-people-thumb:nth-child(8n+8), .our-people-group .our-people-thumb:nth-child(8n+4) {width: 232.434px; z-index: 0;}
    .our-people-group .our-people-thumb:nth-child(even) {z-index: -1;}
    .our-people-lt {width: calc(100% - 53.38983050847458%);}
    .our-people-rt {width: 46.61016949152542%; margin-top: 0;}
    
    .our-expertise-main {padding: 158px 0 195px;}
    .our-expertise-grid .stone-wrap svg,  .our-expertise-grid:hover .stone-wrap img  {width: 218px; height: 218px;}
    .our-expertise-grid:hover .stone-wrap svg,  .our-expertise-grid:hover .stone-wrap img  {width: 234px; height: 234px;}
    .our-expertise-grid .stone-wrap .h3 {font-size: 1.6rem; line-height: 125%; letter-spacing: -0.512px; max-width: 140px;}
    .our-expertise-grid {min-height: 275px;}
    .our-expertise-grid:hover .our-expertise-desc::after {bottom: -128px;}
    
}
@media only screen and (max-width:1023px) and (min-width:200px) {
    .our-people-main {flex-direction: column-reverse;}
    .our-people-lt {width: 100%; margin: 63px 0 0 0;}
    .our-people-rt {width: 100%; margin-top: 0;}
    .our-people-group .our-people-thumb:nth-child(3n+1) {z-index: 2;}
    .our-people-group .our-people-thumb:nth-child(3n+3) {z-index: 0}
    
        .our-expertise-grid:hover {transform: none;}
    .our-expertise-overlay, .our-expertise-grid:hover .our-expertise-overlay {position: initial; transform: none; height: inherit; opacity: 1; visibility: visible;}

}

@media only screen and (max-width:1023px) and (min-width:768px) {
    .our-people {padding: 80px 0 80px;}
    .our-people h2 {margin-bottom: 22px;}
    .our-people-group {max-width: 688px;}
    .our-people-group .our-people-thumb {width: 256px; z-index: 1; margin: 0 -14px;}
    .our-people-group .our-people-thumb:nth-child(8n+2), .our-people-group .our-people-thumb:nth-child(8n+8), .our-people-group .our-people-thumb:nth-child(8n+4) {width: 232.434px;}
    .our-people-lt {width: 100%; margin: 63px 0 0 0;}
    
   
    .our-expertise-main {padding: 21px 0 98px;}
    .our-expertise {padding: 79px 0 0 0;}
    .our-expertise h2 {text-align: center;}
    .our-expertise-grid .our-expertise-desc {font-size: 1.125rem;}
    .our-expertise-grid .our-expertise-desc p {margin-bottom: 4px;}
    .our-expertise-grid {width: 100%; min-height: inherit; text-align: left; align-items: center; justify-content: flex-start; flex-direction: row; margin: -13px 0;}
    .our-expertise-grid .stone-wrap {width: 218px; height: 218px;}
    .our-expertise-grid .stone-wrap svg, .our-expertise-grid:hover .stone-wrap svg, .our-expertise-grid .stone-wrap img, .our-expertise-grid:hover .stone-wrap img {width: 218px; height: 218px; transform: none;}
    .our-expertise-grid .stone-wrap .h3 {font-size: 1.6rem; line-height: 125%; letter-spacing: -0.512px; max-width: 140px;}
    .our-expertise-overlay, .our-expertise-grid:hover .our-expertise-overlay {padding:0 43px; width: calc(100% -  218px); flex-grow: 1;}
    .our-expertise-grid:hover .our-expertise-desc::after {display: none;}
}


@media only screen and (max-width: 767px) and (min-width: 200px) {
    .default-banner-main {min-height: 496px; align-items: flex-end;}
    .our-people {padding: 64px 0 64px;}
    .our-people h2 {font-size: 3.5rem; margin-bottom: 26px;}
    .our-people p {font-size: 1.5rem;}
    .our-people-group .our-people-thumb {width: 32.824vw; z-index: 1; margin: 0 -8px;}
    .our-people-group .our-people-thumb:nth-child(8n+2), .our-people-group .our-people-thumb:nth-child(8n+8), .our-people-group .our-people-thumb:nth-child(8n+4) {width: 29.799vw;}
    
    .our-expertise {padding: 65px 0 0 0;}
    .our-expertise-main {display: block; padding: 18px 0 83px;}
    .our-expertise-main .slick-list {overflow: visible;}
    .our-expertise-main ul.slick-dots {padding-top: 44px;}
    .our-expertise-main .slick-arrow {bottom: 63px; top: inherit;}
    .our-expertise-main .slick-arrow.slick-prev {right: auto; left: 0;}
    .our-expertise h2 {text-align: center; font-size: 2.5rem; line-height: 100%;}
    .our-expertise-grid {width: 296px; margin: 0 0 0 7px !important;}
    .our-expertise-grid .stone-wrap svg, .our-expertise-grid:hover .stone-wrap svg, .our-expertise-grid .stone-wrap img, .our-expertise-grid:hover .stone-wrap img {width: 272px; height: 272px; transform: none;}
    .our-expertise-grid .our-expertise-desc {opacity: 0;}
    .our-expertise-grid .our-expertise-desc .read-link {display: none;}
    .our-expertise-grid .our-expertise-desc:after {position: absolute; left: 50%; transform: translateX(-50%); bottom: -49px; width: 296px; height: 460px; display: block; content: ""; border-radius: 460px; background: rgba(4, 52, 76, 0.75); filter: blur(52px); z-index: -1;}
    .our-expertise-overlay, .our-expertise-grid:hover .our-expertise-overlay {padding:23px 0 0 0;}
    .our-expertise-grid.slick-current .our-expertise-desc {opacity:1;}

}