@import url("_cta-module.css");

.insights-top-container {clear: both; width: 100%; padding: 80px 0; background: var( --aegean-80);}
.insights-wrap {clear: both; margin: 88px 0 0 0; width: 100%;}
.insights-top {gap: 40px;}
.insights-top-lt {width: calc(100% - 440px); flex-grow: 1; min-height: 490px;}
.insight-big {display: flex; flex-wrap: wrap; width: 100%; height: 100%;}
.insight-big-txt {position: relative; z-index: 1; padding: 160px 32px 32px 32px; color: var(--white); margin-top: auto;}
.insight-big-txt h1 {font-size: 2rem; line-height: 125%; color: var(--white);}
.insight-big-txt h1 a {color: var(--white);}
.insight-big-txt h1 a:hover {color: var(--sapphire);}
.insight-big-txt {}

.newsletter {clear: both; width: 100%; border-radius: 16px; padding: 40px; background: var(--midnight); color: var(--white);}
.newsletter .optional-text {color:var(--sapphire); margin: 0 0 20px 0;}
.newsletter .h3 {color: var(--white); font-weight: 300; line-height: 175%;}

.insight-big-thumb {width: 100%;}
.insight-big-thumb:before {background: linear-gradient(0deg, #03344C 0%, rgba(3, 52, 76, 0.00) 100%); content: ""; display: block; width: 100%; height: 64%; position: absolute; left: 0; bottom: 0; border-radius: 0 0 16px 16px;}
.insight-big-thumb figure img {border-radius: 16px;}
.insights-top-rt {width: 400px; flex-grow: 1;}

.insights-bottom {clear: both; gap:3.125%;}
.insights-bottom .more-insights-grid {margin: 0;}

.insights{clear: both; width: 100%; background: var(--white-90); padding: 80px 0; position: relative; z-index: 1;}
.insights-main { display: flex; flex-wrap: wrap;}
.more-insights-grid {width:31.25%; position: relative; z-index: 1; overflow: hidden; background: var(--white); border-radius: 16px; outline: 6px solid transparent; transition: outline 0.3s ease; margin: 0 0 3.125% 3.125%;}
.more-insights-grid:nth-child(3n+1) {margin-left: 0;}
.more-insights-grid .more-inights-thumb {border-radius: 16px 16px 0 0; height: 225px; overflow: hidden;}
.more-insights-grid .more-inights-thumb a {display: flex; height: 100%;}
.more-insights-grid .more-inights-cnt {padding: 33px 32px 34px; display: block; clear: both; width: 100%;}
.more-insights-grid .more-inights-cnt .h5 {line-height: 150%; margin: 0;}
.more-insights-grid .more-inights-cnt .h5 a {color: var(--midnight); display: inline-block; transition: underline 0.3s ease;}
.more-insights-grid .more-inights-cnt .h5 a:hover {text-decoration: underline; text-decoration-color: var(--sapphire);}



@media only screen and (min-width: 1024px) {
  .insights-main {}
  

}
@media only screen and (max-width: 1199px) and (min-width: 1024px) {
}
@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .insights-main{gap: 32px;}
    .more-insights-grid {padding: 16px; display: flex; flex-wrap: wrap; width: 100%; align-items: center; margin: 0;}
    .more-insights-grid .more-inights-thumb {border-radius: 8px; width: 328px; margin: 0 32px 0 0; height: 176px;}
    .more-insights-grid .more-inights-cnt {width: calc(100% - 360px); padding: 0 16px 0 0; margin: -3px 0 0 0;}
}




@media only screen and (max-width: 767px) and (min-width: 200px) {
    .insights {padding: 64px 0;}
    .insights-main {display: block;}
    .more-insights-grid {width: 100%; margin: 0 0 24px 0;}
    .more-insights-grid .more-inights-thumb {height: 49.235vw;}
    .more-insights-grid .more-inights-cnt {padding: 32px 32px 34px;}
    .more-insights .btn-full {margin: 40px 0 0 0;}
    
    
}

@media only screen and (max-width: 767px) and (min-width:680px) {
    .insights-main {justify-content: space-between; display: flex; flex-wrap: wrap;}
    .more-insights-grid .more-inights-thumb {height:auto;}
     .more-insights-grid {width: 48.25%; margin: 0 0 25px 0;}
}
