.modal {display: flex; justify-content: center; align-items: center; position: fixed; left: 0; top: 0; width: 100%; height: 100%;  z-index: 9999; backdrop-filter: blur(6px); background: rgba(4, 52, 76, 0.85); overflow: auto;}
.modal-content { width: 100%; height: auto; margin: 0 auto;  border: 0 none; background: transparent; padding: 20px 0; max-width: 1280px; position: relative;}
.modal-content .h1 {color: var(--sapphire); text-align: center; font-size: 4.5rem; margin-bottom: 45px;}
.modal-content .h3 {color: var(--white); text-align: center; font-size: 1.75rem; letter-spacing: -0.035rem;}
.modal-content .fancy-link::before, .fancy-link::after {bottom: -3px;}
.modal-content .menu-wrapper {margin: 0 0 70px 0;}
.close { color:var(--sapphire); font-size:32px; font-weight: 300; position: absolute; top: 48px; right:48px; width: 64px; height: 64px; border-radius: 32px;
  background: rgba(0, 0, 0, 0.50); justify-content: center; display: flex; align-items: center; cursor: pointer;}
.close:hover {color: var(--white);}
.expertise_menu { display: flex; gap:3.125%; flex-wrap: wrap; width: 100%; margin: 0;}
.expertise_menu li:before {display: none;}
.expertise_menu .column{ border: 1px solid var(--white); border-radius: 16px; padding:31px 32px 22px 32px; width: 31.25%; margin: 0;}
.expertise_menu .column > a {font-size: 1.5rem; color: var(--sapphire); font-weight: 700; line-height: 125%;}
.expertise_menu ul {margin:18px 0 0 0;}
.expertise_menu .sub-menu li {margin: 6px 0 0 0;}
.expertise_menu .sub-menu li a {color: var(--white); font-size: 0.9375rem; font-weight: 700; line-height: 150%; display: inline-block;}
.expertise_menu .sub-menu li .readmore span i, .expertise_menu .sub-menu li .readmore span::before, .expertise_menu .sub-menu li .readmore span::after {font-size: 14px; height: 14px; vertical-align: top; top: 0;}
.expertise_menu .sub-menu li .readmore span::before, .expertise_menu .sub-menu li .readmore span::after {width: 10px;}
.expertise_menu .sub-menu li .readmore span {height: 14px; display: inline-block; vertical-align: middle; margin: 0 0 0 5px;}
.expertise_menu .sub-menu li .readmore:hover span i {color: var(--sunshine-60);}
.expertise_menu .sub-menu li .readmore:hover span::after {transform: translateX(11px); color: var(--sunshine);}
.expertise_menu .sub-menu li .readmore:hover span::before {transform: translateX(6px);}

@media only screen and (max-width:1360px) {
    .modal-content {padding:20px; max-width:100%;}
    .close {right: 20px;}
    .expertise_menu .column {padding:31px 24px 22px 25px;} 
}

@media only screen and (max-width: 1023px) and (min-width:768px){
    .expertise_menu .column {padding: 24px;}
    .modal-content .h3 {font-size: 1.7rem;}
}